@use "base";

/* borde imagen de inicio */
.contenedor-imagen {
  img {
    border-radius: 200px;
  }
}

/*borde de imagenes en galleria*/
.gallery-container {
  img {
    border-radius: 40px;
  }
}

/*video responsive NOTICIAS*/
.container-youtube {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*h3 para seccion nosotros*/
.h-3 {
  color: white;
  font-size: 30px;
  text-align: center;
}

.post-1 {
  color: white;
  text-transform: capitalize;
  text-align: center;
}

/*aplicando gradientes en el fondo de todas las paginas*/
body {
  background: linear-gradient(
    to bottom,
    #000000 70%,
    // negro en la parte superior
    #808080 90%,
    // gris en el medio
    #ffffff 100% // blanco al final
  );
}

/*inicio*/
/* modificacion con display-flex(inicio) */
.inicio-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: row;
  background-color: white;
}

/* con este llamado a class cambiamos con el display a lista vertical a horizontal */
.inicio-menu {
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.inicio-menu {
  li {
    margin: 0 15px;
  }
}

/* letras de menu inicio */
.inicio-menu {
  a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
  }
}

/*Tienda*/
/* modificacion display-flex tienda */
.tienda-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: row;
  background-color: black;
}

.tienda-menu {
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.inicio-menu {
  li {
    margin: 0 15px;
  }
}

.tienda-menu {
  a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
  }
}

/*NOTICIAS*/
/* modificacion display-flex (noticias) */
.noticias-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: row;
  background-color: black;
}

.noticias-menu {
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.noticias-menu {
  li {
    margin: 0 15px;
  }
}

.noticias-menu {
  a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
  }
}

/*NOSOTROS*/
/* modificacion nosotros-menu con display flex */
.nosotros-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: row;
  background-color: black;
}

.nosotros-menu {
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.nosotros-menu {
  li {
    margin: 0 15px;
  }
}

.nosotros-menu {
  a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
  }
}

.nosotros-menu {
  li {
    margin: 0 15px;
  }
}

/*CONTACTO*/
/* modificacion contacto con display flex */

.contacto-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: row;
  background-color: black;
}

.contacto-menu {
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.contacto-menu {
  li {
    margin: 0 15px;
  }
}

.contacto-menu {
  a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
  }
}

.gallery-container {
  /*ancho*/
  width: 90%;

  /*ancho maximo */
  max-width: 1100px;

  /*margen arriba y abajo*/
  margin: 40px auto;

  display: grid;

  /*con este establecemos las columnas en la agaleria de tienda*/
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  /*separacion entre las imagenes*/
  gap: 100px;
}

.menu-completo {
  ul {
    li {
      a {
        text-transform: uppercase;
        transition: 0.1s;
      }
    }
  }
}

/*sobre escritura estilos bootsrap*/
.nav-link {
  font-size: 20px;
  color: white;
  padding: 0px 50px 0px 50px;

  /*padding-top:0px ; 
    padding-rigth:40px;
    padding-botom:0px;
    padding-left:40px */
}

.navbar-collapse {
  display: flex;
  justify-content: center; // Centra el contenido horizontalmente
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .nav-item {
    margin: 0 15px;

    .nav-link {
      font-size: 24px; // Agranda las letras del menú
      text-align: center;
      color: white;
      transition: all 0.3s ease;

      &:hover {
        color: #f0f0f0;
        transform: scale(1.1); // Efecto de agrandamiento al pasar el cursor
      }
    }
  }
}
/*efecto del menu completo*/
.navbar-collapse:hover .navbar-nav .nav-item .nav-link {
  color: black;
}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: white;
}

.navbar-nav .nav-item .nav-link {
  transition: color 0.3s ease;
}

.navbar-collapse {
  .navbar-nav {
    .nav-iten {
      .nav-link:hover {
        color: white;
      }
    }
  }
}
/*todo el footer*/

.nav-link {
  display: flex;
  padding: 20px;
  gap: 5px;
}

/*iconos red sociales*/
.social-icons {
  text-align: center;
  margin-top: 60px;
}

.social-icons a {
  color: #333;
  font-size: 50px;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* aplicando colores con  Bootstrap al pasar el mouse */
.instagram :hover {
  color: #d62976;
}
.whatsapp :hover {
  color: green;
}
.facebook :hover {
  color: blue;
}

h3 {
  text-align: center;
  text-decoration: underline;
  color: white;
}

/*logo tienda*/
.navbar-brand img {
  width: 200px;
  height: auto;

  @media (max-width: 800px) {
    width: 60px;
  }
}
